@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');

* {
  font-family: 'Dosis', sans-serif;
}

.App {
  text-align: center;
}

body {
  background-color: #f2f2f2;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

section {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pomo-counter {
  border: 1px solid black;
  border-radius: 5px;
  width: 30%;
  padding: 5%;
  box-shadow: 0 0 50px  #a6a6a6;
  background-color: #ffff;
}

.pomo-btn {
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .pomo-counter {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .pomo-counter {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .pomo-counter {
    width: 60%;
  }
}

@media only screen and (min-width: 992px) {
  .pomo-counter {
    width: 50%;
  }
}
